
<h2>{{question}}</h2>
<form [formGroup] = "wordForm" (ngSubmit)="onSubmit()">
  <div formArrayName="words" id="words">
    <div id="word{{i}}"  class="word-g pure-g" *ngFor="let word of words.controls; index as i" >
      <div class="word pure-u-1-3 pure-u-md-1-5 pure-u-lg-1-6 offset-sm-1-3 offset-md-2-5 offset-lg-5-12 ">
        <div class="wordin">
          <input id = "{{i}}"
                 type = "text"
                 class = "word-ip-box"
                 placeholder = "word #{{i+1}}"
                 [formControlName] = "i" >
        </div>
        <div class="next-btn" (click)="next(i)">
          <script>
            var h = $('.word-ip-box').height();
            $('.next-btn').css({'width':h+'px'});
          </script>
        </div>
      </div>
      <div *ngIf="i.invalid && (i.dirty || i.touched)"
           class="invalid">

        <div *ngIf="i.errors.required">
          Word #{{i+1}} is required.
        </div>
        <div *ngIf="i.errors.minlength || i.errors.maxlength">
          Word #{{i+1}} must be at least 3 characters long.
        </div>
        <div *ngIf="i.errors.pattern">
          Word #{{i+1}} cannot contain spaces.
        </div>
      </div>
    </div>
  </div>
  <button>Submit</button>
</form>